/* line 5, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_base.scss */
html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

/* line 5, ../scss/_base.scss */
img {
  max-width: 100%;
}

/* line 7, ../scss/_base.scss */
.wrap {
  max-width: 1480px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaRegular.ttf") format("truetype");
  src: url("../fonts/HelveticaRegular.woff") format("woff");
}
/* line 1, ../scss/_main.scss */
.main {
  background: #212121;
  width: 100%;
  height: 100vh;
}

/* line 6, ../scss/_main.scss */
.popUp {
  padding: 1em 2em;
  border: 3px solid #2979b2;
  background: #262626;
  box-sizing: border-box;
  max-width: 69rem;
  border-radius: .5em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 17, ../scss/_main.scss */
.popUp-close {
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  padding: 1em;
  box-sizing: border-box;
  right: 1em;
  top: 1em;
}
/* line 26, ../scss/_main.scss */
.popUp .title {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25em;
}
/* line 31, ../scss/_main.scss */
.popUp-body {
  position: fixed;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity .5s, z-index .5s;
}
/* line 42, ../scss/_main.scss */
.popUp-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}
/* line 47, ../scss/_main.scss */
.popUp-wrap .text {
  text-align: center;
  color: #484848;
  margin-bottom: 1.5em;
  font-weight: 700;
}
/* line 52, ../scss/_main.scss */
.popUp-wrap .text .icon {
  margin-right: .5em;
}
/* line 54, ../scss/_main.scss */
.popUp-wrap .btn {
  padding: .5em 1em;
  display: block;
  background: #2c97de;
  color: #ffffff;
  font-size: .9em;
  border: none;
  margin: 0 auto;
  border-radius: 2px;
  cursor: pointer;
}

/* line 68, ../scss/_main.scss */
.popup-show {
  z-index: 8;
  opacity: 1;
}

/* line 74, ../scss/_main.scss */
.tabs {
  display: inline-block;
  margin-top: 2em;
}
/* line 77, ../scss/_main.scss */
.tabs-link {
  color: #484848;
  font-weight: 700;
  padding: .5rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inherit;
}
/* line 84, ../scss/_main.scss */
.tabs-link.open {
  color: #2c97de;
  border-bottom: 3px solid #2c97de;
}
/* line 89, ../scss/_main.scss */
.tabs-cont {
  display: none;
  border-top: 1px solid #484848;
  margin-top: -3px;
  padding-top: 1rem;
}
/* line 94, ../scss/_main.scss */
.tabs-cont.open {
  display: inherit;
}
/* line 95, ../scss/_main.scss */
.tabs-cont .title {
  color: #bdbdbd;
  font-weight: 700;
  font-size: 1.1em;
}

/* line 1, ../scss/component/_graph.scss */
.graph {
  margin-top: 2rem;
}
/* line 3, ../scss/component/_graph.scss */
.graph .highcharts-color-undefined text {
  font-family: "Helvetica", sans-serif;
}
/* line 6, ../scss/component/_graph.scss */
.graph .highcharts-legend-item.highcharts-area-series.highcharts-color-undefined text {
  fill: #ffffff !important;
}

/* line 1, ../scss/component/_table.scss */
.table {
  margin-top: 2rem;
  border: 1px solid #303030;
  border-collapse: collapse;
  overflow: auto;
}
/* line 6, ../scss/component/_table.scss */
.table th, .table td {
  border: 1px solid #303030;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 11, ../scss/component/_table.scss */
.table th {
  padding: .5rem .25rem;
  color: #747575;
  font-size: .9rem;
}
/* line 16, ../scss/component/_table.scss */
.table td {
  padding: .5rem;
}
/* line 21, ../scss/component/_table.scss */
.table .thead-2 .icon {
  color: #2c97de;
  float: right;
}
/* line 32, ../scss/component/_table.scss */
.table .thead-4 .flex, .table .thead-6 .flex, .table .thead-7 .flex, .table .thead-8 .flex, .table .thead-9 .flex, .table .thead-11 .flex {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 35, ../scss/component/_table.scss */
.table .thead-4 .flex .icon, .table .thead-6 .flex .icon, .table .thead-7 .flex .icon, .table .thead-8 .flex .icon, .table .thead-9 .flex .icon, .table .thead-11 .flex .icon {
  transform: rotate(90deg);
  float: right;
  color: #303030;
}
/* line 44, ../scss/component/_table.scss */
.table .filter-interval {
  min-width: 4.5rem;
}
/* line 46, ../scss/component/_table.scss */
.table .filter-interval-input {
  position: relative;
  width: calc(50% - .1rem);
  float: left;
}
/* line 50, ../scss/component/_table.scss */
.table .filter-interval-input:first-child {
  margin-right: .2rem;
}
/* line 51, ../scss/component/_table.scss */
.table .filter-interval-input .icon {
  color: #747575;
  font-size: .4rem;
  position: absolute;
  left: .25rem;
  top: 40%;
}
/* line 58, ../scss/component/_table.scss */
div .table .filter-interval-input input {
  width: 100%;
  padding-left: .7rem;
}
/* line 61, ../scss/component/_table.scss */
div .table .filter-interval-input input:first-child {
  margin-right: 0rem;
}
/* line 64, ../scss/component/_table.scss */
.table .filter-interval input {
  width: calc(50% - .1rem);
  float: left;
}
/* line 67, ../scss/component/_table.scss */
.table .filter-interval input:first-child {
  margin-right: .2rem;
}
/* line 70, ../scss/component/_table.scss */
.table .filter-all {
  position: relative;
}
/* line 72, ../scss/component/_table.scss */
.table .filter-all input {
  font-family: "FontAwesome";
  max-width: 3rem;
}
/* line 76, ../scss/component/_table.scss */
.table .filter-all::before {
  position: absolute;
  right: .9rem;
  font-family: "FontAwesome";
  content: "\f0dc";
  color: #747575;
  margin-top: .25rem;
  margin-top: .5rem;
  font-size: 0.6rem;
}
/* line 87, ../scss/component/_table.scss */
.table .filter-search {
  min-width: 15rem;
}
/* line 89, ../scss/component/_table.scss */
.table .filter-search input {
  width: 100%;
}
/* line 93, ../scss/component/_table.scss */
.table .filter-item:not(.filter-interval):hover > input {
  background: #353535;
}
/* line 95, ../scss/component/_table.scss */
.table .filter-item:not(.filter-interval):hover > input::placeholder {
  color: #ffffff;
}
/* line 99, ../scss/component/_table.scss */
.table .filter-item:not(.filter-interval):hover::before {
  color: #ffffff;
}
/* line 103, ../scss/component/_table.scss */
.table .filter-item input {
  background: none;
  border: 1px solid #303030;
  border-radius: 2px;
  padding: .25rem;
  color: #747575;
  transition: background .1s;
  box-sizing: border-box;
  font-size: .8rem;
}
/* line 113, ../scss/component/_table.scss */
.table .filter-item input::placeholder {
  font-family: "Helvetica", sans-serif;
}
/* line 116, ../scss/component/_table.scss */
.table .filter-item input:focus {
  outline: none;
}
/* line 117, ../scss/component/_table.scss */
.table .filter-item input:hover {
  background: #353535;
}
/* line 119, ../scss/component/_table.scss */
.table .filter-item input:hover::placeholder {
  color: #ffffff;
}
/* line 126, ../scss/component/_table.scss */
.table .filter-last {
  position: relative;
}
/* line 128, ../scss/component/_table.scss */
.table .filter-last .icon {
  position: absolute;
}
/* line 130, ../scss/component/_table.scss */
.table .filter-last .icon-filter {
  color: #bdbdbd;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .25rem;
}
/* line 138, ../scss/component/_table.scss */
.table .filter-last .icon-close {
  color: #b13a47;
  font-size: .7em;
  position: absolute;
  top: 45%;
  right: .25rem;
}
/* line 150, ../scss/component/_table.scss */
.table .general-item .grey {
  color: #747575;
}
/* line 151, ../scss/component/_table.scss */
.table .general-item .red {
  color: #b13a47;
}
/* line 152, ../scss/component/_table.scss */
.table .general-item .blue {
  color: #2c97de;
}
/* line 153, ../scss/component/_table.scss */
.table .general-item .icon-ban {
  color: #747575;
  display: block;
  text-align: center;
}
/* line 160, ../scss/component/_table.scss */
.table .general-2 span {
  margin-bottom: .25rem;
  display: block;
}
/* line 166, ../scss/component/_table.scss */
.table .general-3 .icon-check {
  color: #84b547;
  text-align: center;
  display: block;
  font-size: 1.5rem;
}
/* line 173, ../scss/component/_table.scss */
.table .general-4 {
  position: relative;
}
/* line 175, ../scss/component/_table.scss */
.table .general-4 img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  float: left;
  margin-right: .5rem;
}
/* line 182, ../scss/component/_table.scss */
.table .general-4 .text {
  color: #2c97de;
  font-size: .8rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1.1;
}
/* line 190, ../scss/component/_table.scss */
.table .general-4 .icon {
  font-size: .7rem;
  color: #747575;
  position: absolute;
  right: .5rem;
  bottom: .5rem;
}
/* line 198, ../scss/component/_table.scss */
.table .general-5 {
  position: relative;
  overflow: visible;
}
/* line 201, ../scss/component/_table.scss */
.table .general-5 .icon {
  color: #747575;
  display: block;
  text-align: center;
  font-size: 1.2rem;
}
/* line 208, ../scss/component/_table.scss */
.table .general-5:hover .icon + .prompt {
  display: block;
}
/* line 210, ../scss/component/_table.scss */
.table .general-5 .prompt {
  display: none;
  position: absolute;
  top: -.5rem;
  left: -70%;
  padding: .25rem;
  background: #353535;
  font-size: .75rem;
  min-width: 9rem;
  text-align: center;
  border-radius: 2px;
}
/* line 221, ../scss/component/_table.scss */
.table .general-5 .prompt::before {
  content: '';
  display: block;
  border: 8px solid transparent;
  border-top: 8px solid #353535;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.2rem;
}
/* line 232, ../scss/component/_table.scss */
.table .general-5 .prompt-text {
  color: #ffffff;
}
/* line 238, ../scss/component/_table.scss */
.table .general-7 .like, .table .general-7 .share, .table .general-7 .chat {
  width: 50%;
  display: block;
  margin: 0 auto .25rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 248, ../scss/component/_table.scss */
.table .general-7 .share, .table .general-7 .chat {
  float: left;
}
/* line 252, ../scss/component/_table.scss */
.table .general-7 .icon {
  margin-right: .25rem;
}
/* line 253, ../scss/component/_table.scss */
.table .general-7 .icon, .table .general-7 .num {
  color: #2c97de;
}
/* line 257, ../scss/component/_table.scss */
.table .general-12 .icon {
  font-size: 1.2rem;
  color: #2c97de;
  display: block;
  text-align: center;
}
